html {
    display: table;
    margin: auto;
}

body{
    display: table-cell;
    vertical-align: middle;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35em;
}
