div.content {
    margin-top: 10px;
    width: 606px;
    padding: .5em;
    justify-content: center;
}

div.article{
    margin-bottom: 2em;
}

div.article.MUSIC{
    padding-left: .25em;
    padding-righ: .25em;
}

.music-container {
    text-align: center;
}

.spacing {
   padding: 0 .5em;
}

fieldset {
    text-align: left;
}
legend {
    margin-left: 1em;
}
fieldset.LIFT{
    border: coral 2px solid;
}
fieldset.MUSIC{
    border: lightblue 2px solid;
}
fieldset.EAT{
    border: lightgreen 2px solid;
}